global:
  message: welcome to global Microservice Environment

logging:
  level:
    root: INFO
application:
    name: config-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh

  endpoint:
    health:
      show-details: always

